@{
    ViewData["Title"] = "Illiquid Holdings";
}

<div class="jumbotron shadow" style="background-color:#033242;border-radius:10px;color:white">
    <h1>Illiquid Holdings</h1>
    <p class="lead">
    </p>
</div>

<div class="row">
    <div class="col">

        <h2>Our team <i class="fa fa-address-card-o" style="font-size:24px"></i></h2>
        <p>

            Meet our "advisors" who will guide you on this journey<br />
        </p>
                <img src="~/images/meetTeam.jpg" alt="photo of team" asp-append-version="true" 
             class="float-left img-fluid col-sm  " style="width:100%;"/>

    </div>
    <div class="col-md">
        <h2>What we do <i class="fa fa-line-chart" style="font-size:24px"></i></h2>
        <p>A closer look inside our mission</p>
                <img src="~/images/portfolio.jpg" alt="portfolio image" asp-append-version="true"
             class="float-left img-fluid col-sm  " style="width:100%;" />
    </div>
    <div class="col-md">
        <h2>Stock funds <i class="fa fa-bar-chart-o" style="font-size:24px"></i></h2>
        <p>Find funds you should be investing in, but we will never recommend</p>
                <img src="~/images/investment.jpg" alt="investment holdings" asp-append-version="true"
             class="float-left img-fluid col-sm  " style="width:100%;" />
    </div>
    </div>

